.container{
  height:200px;
  display:flex;
  align-items:flex-start;
  text-align:center;
  font-weight:bold;
  font-family:arial;
}
.box{
  width:200px;
  padding:30px;
  color:white;
}
.box1{
  background-color:#1ad9a6;
  margin-top:50px;
}
.box2{
  background-color:#4fc266;
}
.box3{
  background-color:#4883e8;
  margin-top:50px;
}
.box4{
  background-color:#a659de;
}
.box5{
  background-color:#404040;
  margin-top:50px;
}
.box6{
  background-color:#ffe74a;
}
.box7{
  background-color:#ff920d;
  margin-top:50px;
}
.box8{
  background-color:#fa523c;
}
.box9{
  background-color:#cfcfcf;
  margin-top:50px;
}
.box10{
  background-color:grey;
}
